<!DOCTYPE html>
<html>
  <head>
    <title>TurnGrafz</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <h1>TurnGrafz</h1>
          <div class="desc">Welcome to TurnGrafz. Enter your pass number to make a simple graph of your 2013/14 season at Mt. Bachelor!</div>
          <form role="form" action="/turngraf" method="post">
            <div class="form-group">
              <label for="passNumberInput">Pass Number</label>
              <input type="text" name="user[passno]" class="form-control" id="passNumberInput" placeholder="Enter Pass Number">
            </div>
            <div class="checkbox">
              <label>
                <input type="checkbox"> Compare with Last Season?
              </label>
            </div>
            <button type="submit" class="btn btn-primary">Make Graph!</button>
          </form>

        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
  </body>
</html>
