<!DOCTYPE html>
<html>
  <head>
    <title>TurnGrafz</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/javascripts/Chart.min.js"></script>
    <script type="text/javascript">

      var data = {
        labels : <%- days %>,
        datasets : [
          {
            fillColor : "rgba(220,220,220,0.5)",
            strokeColor : "rgba(220,220,220,1)",
            pointColor : "rgba(220,220,220,1)",
            pointStrokeColor : "#fff",
            data : <%- vert %>
          }
        ]
      };

      $(document).ready(function(){
          var ctx = $("#chart").get(0).getContext("2d");
          var ww = $('#chart').attr('width', $('#graph-container').width() );
          var hh = $('#chart').attr('height', 400);
          new Chart(ctx).Line(data);
      });

    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>TurnGrafz</h1>
      <div class="row">
        <div id="graph-container" class="col-md-12">
          <canvas id="chart"></canvas>
        </div>
      </div>
    </div>
  </body>
</html>
