<!DOCTYPE html>
<html>
  <head>
    <title>TurnGrafz</title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script type="text/javascript">

      $(document).ready(function() {

        $('#chart').highcharts({
            chart: {
              type: 'spline'
            },
            title: {
                text: 'Days at Mt. Bachelor',
                x: -20 //center
            },
            subtitle: {
                text: 'Source: MtBachelor.com',
                x: -20
            },
            xAxis: {
                type: 'datetime',
                dateTimeLabelFormats: { // don't display the dummy year
                    month: '%b %e',
                    year: '%b'
                },
                title: {
                    text: 'Date'
                }
            },
            yAxis: {
                title: {
                    text: ' Runs(s)'
                },
                plotLines: [{
                    value: 0,
                    width: 1,
                    color: '#808080'
                }],
                min: 0
            },
            tooltip: {
                valueSuffix: 'Run'
            },
            legend: {
                layout: 'vertical',
                align: 'right',
                verticalAlign: 'middle',
                borderWidth: 0
            },
            series: [{
                name: '13/14 Season',
                data: <%- turns %>
            }]
        });

      });

    </script>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <div class="container">
      <h1>TurnGrafz</h1>
      <div class="row">
        <div id="graph-container" class="col-md-12">
          <div id="chart"></div>
        </div>
      </div>
    </div>
  </body>
</html>
